<pre>
{{ block | inspect}}
</pre>    
{% for highlight in block.highlights %}
<div class="pure-g">
    <div class="pure-u-1">
    <hr />
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-2">
            <div class="tagline">{{highlight.tag}}</div>
            <h4>{{highlight.title}}</h4>
            {{ highlight.description | markdownify}}
            {% if highlight.url %}
            <a href="{{highlight.url}}" class="pure-button pure-button-primary">Click Here</a>
            {% endif %}
        </div>
        <div class="pure-u-1-2">
            <a href="{{highlight.url}}"><img src="{{highlight.highlight_image}}" /></a>
        </div>
    </div>
    {% endfor %}
