<div class="row">
    <div class="col-4">
        <h2 style="text-align:left; color:#ffffff!important;">Talk to a Pyramid Analytics expert</h2>

        <p style="text-align:left; color:#ffffff;">Learn if Pyramid is right for you</p>




        <a href="https://www.pyramidanalytics.com/free-trial/request-demo" class=" btn btn_blueWhite" style="margin-left:0;">Get Started</a>
    </div>
    <div class="col-4">
        <div class="cta-image" style="background-image:none;">
            <img src="https://www.pyramidanalytics.com/images/default-source/pyramid-2020/watch-demo.jpg?sfvrsn=fdcbf8c9_0" alt="watch demo" title="watch demo">
        </div>
    </div>
    <div class="col-4">
        <h2 style="text-align:left; color:#ffffff!important;">Introduction to Pyramid Analytics<br></h2>

        <p style="text-align:left; color:#ffffff;">See Pyramid in action right now.</p>



        <a class=" btn btn_blueWhite" style="margin-left:0;" href="https://www.pyramidanalytics.com/intro">Watch Now</a>
    </div>

</div>