<div class="row">
    <div class="col">
        <hr />
    </div>
</div>
<div class="row">


    <div class="col-6">
        <div class="tagline">{{block.highlights[0].tag}}</div>
        <h4>{{block.highlights[0].headline}}</h4>
        {{ block.highlights[0].description | markdownify}}
        {% if highlight.url %}
        <a href="{{block.highlights[0].url}}" class="pure-button pure-button-primary">Click Here</a>
        {% endif %}
    </div>
    <div class="col-6">
        <a href="{{block.highlights[0].url}}"><img src="{{block.highlights[0].highlight_image}}" /></a>
    </div>


</div>

