<div class="sf_colsOut sf_1col_1_100" style="">
    <div id="cphMain_C030_Col00" class="sf_colsIn sf_1col_1in_100">
        <div>

            <div id="cphMain_ctl45_ctl00_ctl00_detailContainer">

                <div class="dual-cta-bar bottomCTA sfitemDetails sfdetails" data-sf-provider="OpenAccessProvider" data-sf-id="920c964e-7dd2-6215-b1ee-ff00002b9892" data-sf-type="Telerik.Sitefinity.DynamicModules.Model.DynamicContent">



                    <div class="section-inner">

                        <div class="cta left-section">                            <h2 style="text-align:left; color:#ffffff!important;">Talk to a Pyramid Analytics expert</h2>

                            <p style="text-align:left; color:#ffffff;">Learn if Pyramid is right for you</p>




                            <a href="https://www.pyramidanalytics.com/free-trial/request-demo" class=" btn btn_blueWhite" style="margin-left:0;">Get Started</a>


                        </div>
                        <div class="cta-image" style="background-image:none;">
                            <img src="https://www.pyramidanalytics.com/images/default-source/pyramid-2020/watch-demo.jpg?sfvrsn=fdcbf8c9_0" alt="watch demo" title="watch demo">
                        </div>
                        <div class="cta ">
                            <h2 style="text-align:left; color:#ffffff!important;">Introduction to Pyramid Analytics<br></h2>

                            <p style="text-align:left; color:#ffffff;">See Pyramid in action right now.</p>



                            <a class=" btn btn_blueWhite" style="margin-left:0;" href="https://www.pyramidanalytics.com/intro">Watch Now</a>




                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>